<!DOCTYPE html>
<html>
    <head>
        <title>IMDB</title>
		<link href="~/Content/Styles.css" rel="stylesheet" />
		<link href="~/Content/popup.css" rel="stylesheet" />
    </head>
<body>
	@RenderBody()
	<footer>
		<p>Copyright &copy; 2015 Meg Selv</p>
	</footer>
	<script src="~/Scripts/jquery-2.1.4.min.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/Scripts/popup.js"></script>
</body>
</html>
