@using System.Web.Optimization

<!DOCTYPE html>
<html>
    <head>
        <title>IMDB</title>
		<link href="~/Content/Styles.css" rel="stylesheet" />
		<link href="~/Content/popup.css" rel="stylesheet" />
		<script src="~/Scripts/modernizr-2.6.2.js"></script>
    </head>
<body>
	<div id="main">
		@RenderBody()


	</div>
	<footer>
		<p>Copyright &copy; 2015 Meg Selv</p>
	</footer>

	@Scripts.Render("~/bundles/allscripts")

	@RenderSection("scripts", false)
	
</body>
</html>
