<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://msu2015.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>msu2015.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>msu2015</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$msu2015</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MovieDAL.ImdbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:arjandemo.database.windows.net,1433;Initial Catalog=msu2015850;User ID=aeinbu@arjandemo;Password=Pa$$w0rd" Name="Data Source=tcp:arjandemo.database.windows.net,1433;Initial Catalog=msu2015850;User Id=aeinbu@arjandemo;Password=Pa$$w0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MovieDAL.ImdbContext, MovieDAL" MigrationConfiguration="MovieDAL.Migrations.Configuration, MovieDAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MovieDAL.ImdbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:arjandemo.database.windows.net,1433;Initial Catalog=msu2015850;User Id=aeinbu@arjandemo;Password=Pa$$w0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>