
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
	<label for="username">Brukernavn:</label>
	<input type="text" name="username" value="" id="username" />
	<br />
	<label for="pwd">Passord:</label>
	<input type="password" name="password" value="" id="pwd" />
	<br />
	<button>Logg på!</button>
</form>

